.form-style {
  /* padding: 10px; */
}
.form-container {
  position: absolute;
  /* padding: 10px; */
  width: 250px;
  z-index: 10;
  margin-top: 5vh;
  margin-left: 10px;
}
.searchInput {
  padding: 3px;
  width: 80%;
}

.searchInputButton {
  padding: 3px;
  width: 20%;
}
