<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emergency.model.dao.DiseaseDao">
	<insert id="insertDisease" parameterType="Disease">
		insert into disease (userId, category, value)
		values (#{userId}, #{category}, #{value})
	</insert>
	
	<delete id="deleteDisease" parameterType="int">
		delete from disease where diseaseId = #{diseaseId}
	</delete>
	
	<select id="selectAllDisease" parameterType="Map" resultType="Disease">
		select * from disease where userId = #{userId} and category = #{category}
	</select>

	<select id="selectAllDiseaseCode" resultType="DiseaseCode">
		select * from diseaseCode
	</select>

	<select id="selectAllAllergyName" resultType="AllergyName">
		select * from allergyName
	</select>
</mapper>