#mypage-name-box {
  width: 700px;
  height: 120px;
  background-color: #bf3131;
  margin-bottom: 30px;
  margin-top: 70px;
  border-radius: 30px;
  text-align: center;
}
.mypage-mypagecontainer-global {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.mypage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  height: 4rem;
  background-color: #141e46;
  color: white;
}

#mypage-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#mypage-small-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

#mypage-button-box {
  width: 700px;
  height: 400px;
}

.mypage-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 340px;
  height: 140px;
  background-color: #f6e7d8;
  font-size: 30px;
  align-items: center;
  border-radius: 20px;
  border: none;
}
.mypage-button-img {
  display: flex;
  justify-content: center;
  width: 35%;
}

.mypage-button-text {
  width: 65%;
  text-align: left;
  color: black;
}

#login {
  cursor: pointer;
}
